bower_components/
node_modules/
app/js/angular/
app/js/notes/
app/js/backup_chart_client.js
app/js/client.js
app/js/greet.js
app/js/temp.js
app/new_index.html
app/old_index.html
app/backup_chart_index.html
app/temp.js
test/
routes/
models/
build/
Gruntfile.js
bower.json
